:root {
    // Colors
    --white-1: #f5f5f5;
    --white-2: #f6f8f5;
    --gray-1: #8c8c8c;
    --gray-2: #222222;
    --gray-3: #131313;
    --green-1: #35e925;
    --green-2: #38af76;
    --green-3: #73af00;
    --green-4: #a0d039;
    --green-5: #4d848b;
    --red-1: #ff4b55;
    --red-2: #fb4b4b;
    --red-3: #ff4e4e;
    --pink-1: #fb4b8a;
    --blue-1: #65d7bb;
    --blue-2: #279bdd;
    --purple-1: #a98ff3;
    --purple-2: #757cdc;
    --purple-3: #41479b;
    --yellow-1: #e5d64c;
    --yellow-2: #d3c438;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    *::after {
        padding: 0;
        margin: 0;
        border: 0;
    }
    *::before {
        padding: 0;
        margin: 0;
        border: 0;
    }
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden !important;
    overflow-y: auto;
    font-family: "PeydaWeb", "Courier New", Courier, monospace;
    color: var(--white-1);
    background: var(--gray-2);

    // Mobile
    .defualt-margin {
        margin: 0 1.5rem;
    }

    // Tablet
    @include mediaQueryMin("md") {
        .defualt-margin {
            margin: 0 1.5rem;
        }
    }

    // Desktop
    @include mediaQueryMin("xl") {
        .defualt-margin {
            margin: 0 20rem;
        }
    }
}
