:root {
    // Colors
    --white-1: #f5f5f5;
    --white-2: #f6f8f5;
    --gray-1: #8c8c8c;
    --gray-2: #222222;
    --gray-3: #131313;
    --green-1: #35e925;
}

* {
    padding: 0;
    margin: 0;
    border: 0;

    scroll-behavior: smooth;

    *::selection {
        background: green;
    }

    *::after {
        padding: 0;
        margin: 0;
        border: 0;
    }

    *::before {
        padding: 0;
        margin: 0;
        border: 0;
    }
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden !important;
    overflow-y: auto;
    font-family: "PeydaWeb", "Courier New", Courier, monospace;
    color: var(--white-1);
    background: var(--gray-2);

    // Mobile
    .defualt-margin {
        margin: 0 20px;
    }

    // Tablet (768px)
    @include mediaQueryMin("md") {
        .defualt-margin {
            margin: 0 25px;
        }
    }

    // Desktop (1280px)
    @include mediaQueryMin("xl") {
        .defualt-margin {
            margin: 0 40px;
        }
    }

    // Desktop - Large (1400px)
    @include mediaQueryMin("xl-2") {
        .defualt-margin {
            margin: 0 300px;
        }
    }
}